.blog-git {
  background: gray !important;
  color:white !important;
}

.card {
	width:95% !important;
	margin: 0 auto;
	padding: 2vw 2vw 2vw 2vw;
	background: #fff;
	display: grid;
	box-shadow: 0 0 4px #bbb, 2px 2px 4px #ccc, 8px 8px 8px #ddd, 0 0 12px #ddd;
}



.row{
	margin: 0 auto;
	
}
.git-blog-1 {
  display: inline-flex;
  justify-content: space-between;
  width:100%;
  padding: 25px;
}

.card1{
	height: -webkit-fill-available;
	width:49%;
	background: #fff;
	box-shadow: 0 0 4px #bbb, 2px 2px 4px #ccc, 8px 8px 8px #ddd, 0 0 12px #ddd;
}
.card2{
	height: -webkit-fill-available;
	width:49%;
	background: #fff;
	
}

.git-blog-1 img{
  width:100%;
  padding:5px;
}



.gitimage {
	box-shadow: black 5px 7px 8px ;
}

.row_dup{
	padding: 10px 0px;
}

.pt-2 {
	padding-top: 15px;
}
.pb-2 {
	padding-bottom: 15px;
}
.pl-2 {
	padding-left: 15px;
}
.pr-2 {
	padding-right: 15px;
}