body{
	margin:0;
}
.header_tag nav {
		justify-content: space-between;
}
.head_wic{
	max-width: 100%;
}
.wic_ul{
	display:flex ;
	list-style-type:none;

}
.wic_ul li{
	margin:auto;
	padding:0px 15px;

}

.wic_ul a{
		text-decoration:none ;
		color: white;
}
.wic, .head_tag_1, .head_tag_2 {
	margin:inherit;
	display: contents;
}
.wic-nav{
	margin:inherit;
	list-style-type:none;
	
}
.wic-nav li{
	margin:auto;
	padding:0px 15px;
}

.wic-nav a{
	color:white;
	text-decoration:none;
}

.header_tag{
	background:black;
	color:White;
}

.card-image img{
	width:-webkit-fill-available !important;
}
.item-card{
  transition:0.5s;
  cursor:pointer;
}
.item-card-title{  
 
  cursor:pointer;
}


.card:hover{
  transform: scale(1.05);
  box-shadow: 10px 10px 15px ;
}
.card-text{
  height:80px;  
}

.card-block{
	padding:1.25em;
}

.card{
	border: 1px solid rgba(0,0,0,.125);
	cursor:pointer;
}	